@import "tailwindcss";

:root {
  --font-poppins: "Poppins", sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  @theme {
    --color-custLight: #d8d9d9;
    --color-custDark: #212121;
    --color-custPrimary: #5a03a0;
    --color-custSecondary: #fad50b;
    --color-custThird: #ff0000;
    --color-custFourth: #93cc50;
    --color-custBackground: #faeded;
    --color-custWhite: #fafafa;
    --color-custBlack: #2b2b2b;
    --color-custPurple: #012970;
  }
}

* {
  scroll-behavior: smooth;
}

.cust-outer-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1800px;
}

.cust-container {
  width: 95%;
  margin: 10px auto;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
}
